/* * {
    background-color: rgb(52, 110, 157);
}
 */
 .center {
    border: 5px solid #0099ff;
    text-align: center;
    }

#message {
    list-style-type: none
}



#display_image {
    width:375px;
    height: 211px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}