<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
        <script src="script.js"></script>
        <!-- <script src="index.js"></script> -->
        <title>Messaging App</title>

    </head>
    <body>
        <ul id="messages"></ul>
        <input Title="Messagetext" id="textbox" type="text" name="Messagetext" label="Messagetext">
        <button id="button" formmethod="post">Send</button>
    </body>
</html>