<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Chat Window</title>
        <meta name="description" content="A simple messaging application using HTML, CSS, Javascript">
        <meta name="author" content="Summer2022">
        
        <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-firestore.js"></script>
        <link rel="stylesheet" href="#">
        <!-- <link rel="shortcut icon" href="#"> -->
    </head>
    <body>
        <h1>Messaging Window</h1>
        <ul id="messages"></ul>
        <textarea id="text" cols="35" rows="2">Type Message Here</textarea>
        <!-- Below replace spacing with window for text to go to-->
        <button id="send">Send</button>
        <script type="module" src="../script.js"></script>
    </body>
</html>