<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
    <head>
        
        <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
        
        <!-- <script src="index.js"></script> -->
        <title>Messaging App</title>

    </head>
    <body>
        <ul id="messages"></ul>
        <input id="textbox" type="text">
        <button id="button">Send</button>
        <script src="script.js"></script>
        
    </body>
</html>